.container-for-list-and-map {
  display: flex;
  justify-content: stretch;
  //height: 100vh;
  >:first-child {
    max-width: 600px;
  }
  >div {
    width: 100%;
  }
}

.updates-feed-container {
  display: flex;
}

.main-stream-container {
  padding-left: 0;
  padding-right: 0;
}
