.container-for-list-and-map {
  display: flex;
  justify-content: stretch;
  //height: 100vh;
  .left-column {
    max-width: 600px;
  }

  > div {
    width: 100%;
  }
}

.feed-list-container {
  // Viewport-Percentage (or Viewport-Relative) Lengths
  // https://www.w3.org/TR/css3-values/#viewport-relative-lengths
  height: calc(100vh - (56px + 40px));
}
