@import "../variables";

.container-for-list-and-map {
  display: flex;
  justify-content: stretch;
  //height: 100vh;
  .left-column {
    max-width: 600px;
  }

  > div {
    width: 100%;
  }
}

.feed-list-container {
  @include fit-to-main-view();
}
