.alert-card {
  max-width: 612px;
  margin: 0 auto;

  width: 100%;

  .card-img-top {
    /*
     Issue: we need to scale height proportionally to width.
     here is temporal solution which works when we scale proportionally to view port
     but it doesn't work when we show map
     */
    @media (max-width: 600px) {
      height: 100vw * 480 / 640;
    }
    @media (min-width: 601px) {
      height: 480px;
    }
  }

  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .highlighted {
    box-shadow: 0px 0px 8px 2px black;
    z-index: 1;
  }
}
